{% extends "layout.html" %}

{% block content %}

<script >
function consultarDisponibles() {
  $.get("https://automated-parking.herokuapp.com/consultarPlaza/disponibles",function(data){
      document.getElementById('plazadDisponiblesHTML').innerHTML = data;
  });
}
</script>

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="/images/logo-retina.png">
    </a>
    <h1>Automated Parking</h1>
    <p>Esta es una aplicacion PHP con el fin de realizar el monitoreo de las plazas del parquedero en el PCA, publicando los datos en la aplicacion en tiempo real.</p>
    <button onclick="consultarDisponibles()" type="button" class="btn btn-lg btn-default"><span class="glyphicon glyphicon-flash"></span> Consulta Plazas</button>
    <a type="button" class="btn btn-lg btn-primary" href="https://github.com/heroku/php-getting-started"><span class="glyphicon glyphicon-download"></span> Source on GitHub</a>
  </div>
</div>




<div class="container">
  <div class="alert alert-info text-center" role="alert">
    PLAZAS DISPONIBLES: <br><br>
    <p id="plazadDisponiblesHTML">Presiona el botón para consultar</p>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-info-sign"></span> Como funciona esta aplicacion. Resumen:</h3><li> Por medio de sensores de ultra sonido, se detecta la presencia de un vehiculo en cada una de las plazas, esta inofrmacion viaja atravez de wi fi a un servidor y a su vez actualizada en la base de datos para ser consultada por otros usuarios en la pagina web.</li>
      <ul>
        <li>Heruku: Es una plataforma en la nube que permite a las empresas construir, entregar, supervisar aplicaciones y alojarlas en la nube.</li>
        <li>GitHub: Es una plataforma de desarrollo colaborativo de software para alojar proyectos utilizando el sistema de control de versiones Git.</li>

        <li>When Heroku received the source code, it fetched all the dependencies in the <a href="https://github.com/heroku/php-getting-started/blob/main/composer.json">composer.json</a>, creating a deployable slug.</li>
        
        <li>You can scale your app, manage it, and deploy over <a href="https://addons.heroku.com/">150 add-on services</a>, from the Dashboard or CLI.</li>
      </ul>
    </div>
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-link"></span> Ventajas del Proyecto</h3>
      <ul>
        <li>La gran vetaja del proyecto es el ser escalable y que seria de facil aplicacion para cualquier usuario final sin importar el numero de plazas a ser monitoriadas</li>
        <li>Se tendra una visualizacion de plazas disaponibles localmente y tambien en la pagina desarrollada para el proyecto</li>
        <li>Se podra evidenciar la aplicación de herramientas gratuitas para el desarrollo de proyectos convenientes para el desarrolllo de estudiantes de Ingenieria</li>
        <li>Se evidencia la importancia para el futuro Ingeniero Electronico el obligatorio complemento del desarrollo de software, incursionando en la programacion de PHP, Javascript.</li>
        <li>Para consultar aplicaciones a traves de Heroku consulta el link <a href="https://devcenter.heroku.com/"> Heroku</a>/li>
        </ul>
      </ul>
      <h3><span class="glyphicon glyphicon-link"></span> Integrantes del proyecto</h3>
      <ul>
        <li>Ing. Carlos Pedroza</li>
        <li>Ing. Jose Gomez</li>
        <li>Ing. Andres Renteria</li>
        <li>Ing. Orlando Escorcia</li>
      </ul>
    </div>
  </div> <!-- row -->
   <div class="alert alert-info text-center" role="alert">
    Proyecto de grado para obtención del título Ingeniero Electrónico en la Corporación Politécnico Costa Atlántica.
  </div>
</div>

{% endblock %}
