{% extends "layout.html" %}

{% block content %}

<script >
function consultarDisponibles() {
  $.get("https://automated-parking.herokuapp.com/consultarPlaza/disponibles",function(data){
      document.getElementById('plazadDisponiblesHTML').innerHTML = data;
  });
}
</script>

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="/images/logo-retina.png">
    </a>
    <h1>Automated Parking</h1>
    
    <button onclick="consultarDisponibles()" type="button" class="btn btn-lg btn-default"><span class="glyphicon glyphicon-flash"></span> Consulta Plazas</button>
    
  </div>
</div>




<div class="container">
  <div class="alert alert-info text-center" role="alert">
    PLAZAS DISPONIBLES: <br><br>
    <p id="plazadDisponiblesHTML">Presiona el botón para consultar</p>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-info-sign"></span> Como funciona esta aplicacion. Resumen:</h3><li> Por medio de sensores de ultra sonido, se detecta la presencia de un vehículo en cada una de las plazas, la adquisición de datos se hace a través de una NodeMCU conectada a una red Wifi, esta simultáneamente envía a la a información a la base de datos desarrollada en Heroku, la base de datos es consultada en tiempo real por otra NodeMCU que se encarga de publicar localmente el número de plazas disponibles, esta información también puede ser consultada en la pagina Web..</li>
      <ul>
        <li>Heruku: Es una plataforma en la nube que permite a las empresas construir, entregar, supervisar aplicaciones y alojarlas en la nube.</li>
        
        <li>GitHub: Es una plataforma de desarrollo colaborativo de software para alojar proyectos utilizando el sistema de control de versiones Git.</li>

        <li>La norma 802.11e unifica los entornos inalámbricos domésticos y empresariales. La especificación IEEE 802.11e ofrece un estándar inalámbrico que permite interoperar entre entornos públicos, de negocios y usuarios residenciales, con la capacidad añadida de resolver las necesidades de cada sector.</li>
        
        <li>La aplicacion Web esta en desarrollo por lo que se pueden evidenciar algunos errores.</li>
      </ul>
    </div>
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-link"></span> Ventajas del Proyecto</h3>
      <ul>
        <li>La gran ventaja del proyecto es el ser escalable y la facilidad de implemetacion para cualquier usuario final sin importar el numero de plazas a ser monitoriadas.</li>
        <li>Se tendra una visualizacion de plazas disaponibles localmente y tambien en la pagina desarrollada para el proyecto.</li>
        <li>Se podra evidenciar la aplicación de herramientas gratuitas para el desarrollo de proyectos convenientes para el desarrolllo de estudiantes de Ingenieria.</li>
        <li>Se evidencia la importancia para el futuro Ingeniero Electronico el obligatorio complemento del desarrollo de software, incursionando en la programacion de PHP, Javascript.</li>
        <li>Para información de desarrollo de aplicaciones a traves de Heroku consulta el link <a href="https://devcenter.heroku.com/"> Heroku</a>,en su pagina principal.</li>
        </ul>
      </ul>
      <h3><span class="glyphicon glyphicon-link"></span> Integrantes del proyecto</h3>
      <ul>
        <li>Ing. Carlos Pedroza</li>
        <li>Ing. Jose Gomez</li>
        <li>Ing. Andres Renteria</li>
        <li>Ing. Orlando Escorcia</li>
        <li>Agradecimiento especial al Ing Heyder Paez por el apoyo en desarrollo del proyecto</li>
    </div>
  </div> <!-- row -->
   <div class="alert alert-info text-center" role="alert">
    Proyecto de grado para obtención del título Ingeniero Electrónico en la Corporación Politécnico Costa Atlántica.
  </div>
</div>

{% endblock %}
